<footer class="pt-4">
  <div class="flex items-center justify-center">
    <div class="hover:scale-110 hover:duration-300">
      <a
        class="text-secondary font-body m-4 text-xl hover:underline"
        target="_blank"
        href="https://github.com/SpicoChicenk">GitHub</a
      >
    </div>

    <div class="hover:scale-110 hover:duration-300">
      <a
        class="text-secondary font-body m-4 text-xl hover:underline"
        target="_blank"
        href="https://twitter.com/spicochicenk"
      >
        Twitter
      </a>
    </div>
  </div>
  <p class="text-light font-body text-center text-lg">
    Current Version: v.1.0-astro
  </p>
</footer>
