<footer class="pt-4">
  <div class="flex items-center justify-center">
    <div class="hover:scale-110 hover:duration-300">
      <a
        class="m-4 font-body text-xl text-secondary hover:underline"
        target="_blank"
        href="https://github.com/SpicoChicenk">GitHub</a
      >
    </div>

    <div class="hover:scale-110 hover:duration-300">
      <a
        class="m-4 font-body text-xl text-secondary hover:underline"
        target="_blank"
        href="https://twitter.com/spicochicenk"
      >
        Twitter
      </a>
    </div>
  </div>
  <p class="text-center font-body text-lg text-light">
    Current Version: v0.1.1
  </p>
</footer>
