<header class="m-4 flex justify-between">
  <div>
    <h1 class="hover:scale-110 hover:duration-300">
      <a
        class="font-display text-primary
        text-4xl font-bold [text-shadow:_3px_3px_#000000]"
        href="#">PHATDECK</a
      >
    </h1>
  </div>
</header>
